<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal" autocomplete="off">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs">1.3 Department Data Maintenance</strong>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body">
          <div class="row form-group border-shadow">
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">Department</label>
              <input type="text" class="form-control" name="parNo" id="parNo"
                placeholder="Department..." [(ngModel)]="param.parNo" maxlength="3" />
            </div>
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">Name Of Department</label>
              <input type="text" class="form-control" name="parName" id="parName"
                placeholder="Name Of Department..." [(ngModel)]="param.parName" maxlength="50" />
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12">
              <label class="d-block">&nbsp;</label>
              <button type="button" class="btn btn-success" (click)="search()"
                [disabled]="!param.parNo && !param.parName">
                <i class="{{ icon.SEARCH }}"></i> Search
              </button>
              <button type="button" (click)="clear()" class="btn btn-danger ml-2"
                [disabled]="!param.parNo && !param.parName">
                <i class="{{ icon.CLEAR }}"></i> Clear
              </button>
              <button type="button" (click)="addNew()" class="btn btn-primary ml-2">
                <i class="{{ icon.ADD }}"></i>AddNew
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center"></th>
                      <th class="text-center">Department</th>
                      <th class="text-center">Name Of Department</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="data?.length > 0; else elseTemplate">
                    <tr *ngFor="let item of data">
                      <td class="text-center">
                        <button type="button" class="btn btn-primary btn-sm" (click)="edit(item)">
                          <i class="{{ icon.EDIT }}"></i>
                        </button>
                      </td>
                      <td class="text-center">
                        {{ item.parNo }}
                      </td>
                      <td class="text-center">
                        {{ item.parName }}
                      </td>
                    </tr>
                  </tbody>
                  <ng-template #elseTemplate>
                    <tbody>
                      <tr>
                        <td colspan="100%" class="table-warning text-center font-weight-bold">
                          Nodata
                        </td>
                      </tr>
                    </tbody>
                  </ng-template>
                </table>
              </div>
              <div class="d-flex" *ngIf="data.length > 0">
                <pagination [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize" [maxSize]="5"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                  [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
                </pagination>
                <span class="cs-page ml-2">
                  Page - {{ pagination.pageNumber }} /
                  {{ pagination.totalPage }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
