<div class="card">
  <div class="card-header">
    <div class="row">
      <!-- Title -->
      <div class="col-md-10">
        <h5>{{'Roles.Menu_Child.BQRC.DepartmentDataMaintenance' | translate}}</h5>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <!-- Department -->
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.DepartmentDataMaintenance.Department' |
          translate}}</span>
        <input type="text" name="parNo" class="form-control" [(ngModel)]="param.parNo">
      </div>

      <!-- Name of Department -->
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.DepartmentDataMaintenance.NameOfDepartment' |
          translate}}</span>
        <input type="text" name="parName" class="form-control" [(ngModel)]="param.parName">
      </div>

      <div class="col pt-4">
        <!-- Button Search -->
        <button class="btn btn-primary" (click)="search()">
          <i class="{{iconButton.SEARCH}}"></i>
          {{ 'System.Action.Search' | translate}}</button>

        <!-- Button Clear -->
        <button class="btn button" class="btn btn-danger" (click)="clear()">
          <i class="{{iconButton.CLEAR}}"></i>
          {{ 'System.Action.Clear' | translate}}
        </button>

        <!-- Button Add New -->
        <button class="btn btn-success" (click)="add()">
          <i class="{{iconButton.ADD}}"></i>
          {{ 'System.Action.AddNew' | translate}}</button>
      </div>

    </div>
  </div>

  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col"></th>
          <th class="text-center" scope="col">{{'Maintain.DepartmentDataMaintenance.Department' |
            translate}}</th>
          <th class="text-center" scope="col">{{'Maintain.DepartmentDataMaintenance.NameOfDepartment' |
            translate}}</th>
        </tr>
      </thead>
      <tbody *ngIf="msDepartment.length == 0">
        <tr>
          <td colspan="100%">
            <alert class="text-center" type='danger'>
              <strong>{{'System.Message.Nodata' | translate}}</strong>
            </alert>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let msdepartment of msDepartment ">
          <td class="text-center">
            <button type="button" class="btn btn-primary btn-sm">
              <i class="{{iconButton.EDIT}}" (click)="edit(msdepartment)"></i></button>
          </td>
          <td class="text-center"> {{msdepartment.parNo}}</td>
          <td class="text-center"> {{msdepartment.parName}}</td>
        </tr>

      </tbody>
    </table>
    <div class="d-flex" *ngIf="msDepartment.length > 0">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.pageNumber"
        (pageChanged)="pageChanged($event)">
        <span class="cs-page ml-2"> Page - {{pagination.pageNumber}} /
          {{pagination.totalPage}}</span>
      </pagination>
    </div>
  </div>
</div>