<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <h5>{{'Roles.Menu_Child.BQRC.DepartmentDataMaintenance' | translate}}</h5>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-xxl-2 col-xl-6 col-lg-6 col-md-6">
        <label class="badge badge-warning">{{'Maintain.WarehouseBasicDataMaintenance.KodeOfWarehouse' | translate}}</label>
        <input type="text" [(ngModel)]="params.parNo" class="form-control" name="parNo" id="parNo">
      </div>
      <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
        <label class="badge badge-warning">{{'Maintain.WarehouseBasicDataMaintenance.NameOfWarehouse' | translate}}</label>
        <input type="text" [(ngModel)]="params.parName" class="form-control" name="parName" id="parName">
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12">
        <label class="d-block">&nbsp;</label>
        <button type="button" class="btn btn-success" (click)="search()">
          <i class="">{{'System.Action.Search' | translate}}</i>
        </button>
        <button type="button" class="btn btn-danger ml-2" (click)="clear()">
          <i class="">{{'System.Action.Clear' | translate}}</i>
        </button>
        <button type="button" class="btn btn-primary ml-2" (click)="add()">
          <i class="">{{'System.Action.AddNew' | translate}}</i>
        </button>
      </div>
    </div>
  </div>

</div>
<div class="card">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">{{'Maintain.DepartmentDataMaintenance.Department' | translate}}</th>
        <th scope="col" class="text-center">{{'Maintain.DepartmentDataMaintenance.NameOfDepartment' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <th scope="row" class="text-center"> <button class=" btn btn-primary" (click)="updateItemDPM(item)"><i
              class="fa fa-edit fa-lg"></i></button></th>
        <td class="text-center">{{item.parNo}}</td>
        <td class="text-center">{{item.parName}}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex" *ngIf="data.length > 0">
    &nbsp;&nbsp;
    <pagination [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize" [maxSize]="5"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
      [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
    </pagination>
  </div>
</div>