<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h5>1.2 Warehouse Basic Data Maintenance</h5>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span class="badge badge-warning">StoreH</span>
          <input type="text" name="shift"  class="form-control" [(ngModel)]="param.storeH">
        </div>
        <div class="col-md-2">
          <span class="badge badge-warning">LocationName</span>
          <input type="text" name="shift-name"  class="form-control" [(ngModel)]="param.locationName">
        </div>
        <div class="col pt-4">
          <button class="btn btn-primary" (click)="search()" >
            <i class="fa fa-search"></i>
            Search</button>
          <button class="btn button" class="btn btn-danger" (click)="clear()"  >
            <i class="fa fa-refresh"></i>
            Clear
          </button>
          <button class="btn btn-success" (click)="add()" >
            
            <i class="fa fa-plus"></i>
             Add</button>
        </div>
        
      </div>
    </div>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col"></th>
          <th class="text-center" scope="col">Shift</th>
          <th class="text-center" scope="col">Name of Shift</th>
        </tr>
      </thead>
  
      <tbody >
        <tr *ngFor="let mslocation of msLocation ">
            <td class="text-center">
              <button type="button" class="btn btn-primary btn-sm" >
                <i class="fa fa-edit fa-lg" (click)="edit(mslocation)"></i></button>
            </td>
            <td class="text-center"> {{mslocation.storeH}}</td>
            <td class="text-center"> {{mslocation.locationName}}</td>
        </tr>
        
      </tbody>
    </table>
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.pageNumber"
        (pageChanged)="pageChange($event)"  >
        <span class="cs-page ml-2"> Page - {{pagination.pageNumber}} /
          {{pagination.totalPage}}</span>
   
  </pagination>
  </div>