<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <h5>1.2 Warehouse Basic Data Maintenance</h5>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <span class="badge badge-warning">Kode Of Warehouse</span>
        <input type="text" name="storeH" class="form-control" [(ngModel)]="param.storeH">
      </div>
      <div class="col-md-2">
        <span class="badge badge-warning">Name Of Warehouse</span>
        <input type="text" name="locationName" class="form-control" [(ngModel)]="param.locationName">
      </div>
      <div class="col pt-4">
        <button class="btn btn-primary" (click)="search()">
          <i class="fa fa-search"></i>
          Search</button>
        <button class="btn button" class="btn btn-danger" (click)="clear()">
          <i class="fa fa-refresh"></i>
          Clear
        </button>
        <button class="btn btn-success" (click)="add()">
          <i class="fa fa-plus"></i>
          Add</button>
      </div>

    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center" scope="col"></th>
        <th class="text-center" scope="col">Kode Of Warehouse</th>
        <th class="text-center" scope="col">Name of Warehouse</th>
      </tr>
    </thead>
    <tbody *ngIf="msLocation.length == 0">
      <tr>
        <td colspan="100%">
        <alert class="text-center" type='danger'>
          <strong>No Data Matching </strong> </alert>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor="let mslocation of msLocation ">
        <td class="text-center">
          <button type="button" class="btn btn-primary btn-sm">
            <i class="fa fa-edit fa-lg" (click)="edit(mslocation)"></i></button>
        </td>
        <td class="text-center"> {{mslocation.storeH}}</td>
        <td class="text-center"> {{mslocation.locationName}}</td>
      </tr>

    </tbody>
  </table>
  <div class="d-flex" *ngIf="msLocation.length > 0">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.pageNumber"
      (pageChanged)="pageChanged($event)">
      <span class="cs-page ml-2"> Page - {{pagination.pageNumber}} /
        {{pagination.totalPage}}</span>
    </pagination>
  </div>
</div>