<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h5>1.4 Standard Packing Quantity</h5>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="badge badge-warning">PackageNo</span>
          <input type="text"   class="form-control" [(ngModel)]="param.packageNo">
        </div>
        <div class="col-md-3">
          <span class="badge badge-warning">PackageQty</span>
          <input type="number"   class="form-control" [(ngModel)]="param.packageQty">
        </div>
        <div class="col-md-6 wrapperButton">
          <button type="button" class="btn btn-primary mr-2" (click)="search()">
            <i class="fa fa-search"></i>
            Search</button>
          <button class="btn btn-danger mr-2" (click)="clear()" type="button">
            <i class="fa fa-ban"></i>
            Clear
          </button>
          <button type="button" class="btn btn-success" (click)="add()">
            <i class="fa fa-plus"></i>
            Add</button>
        </div>
          
        
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center" scope="col">PackageNo</th>
            <th class="text-center" scope="col">PackageQty</th>
            <th class="text-center" scope="col"></th>
          </tr>
        </thead>
    
        <tbody >
          <tr *ngFor="let item of data ">
              <td class="text-center"> {{item.packageNo}}</td>
              <td class="text-center"> {{item.packageQty}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-primary btn-sm" >
                  <i class="fa fa-edit fa-lg" (click)="edit(item)"></i></button>
              </td>
          </tr>
          
    
    
        </tbody>
      </table>
      <div class="d-flex" *ngIf="data.length > 0">
        <pagination [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize" [maxSize]="5"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
          [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
        </pagination>
        <span class="cs-page ml-2">
          Page - {{pagination.pageNumber}} / {{pagination.totalPage}}
        </span>
      </div>
    </div>

    
  </div>
  