<div class="card">
  <div class="card-header">
    <div class="row col">
      <h4>1.4 Standard Packing Quantity</h4>
    </div>
    <div class="row">
      <div class="col-md-2">
        <span class="badge badge-warning">Packing No.</span>
        <input type="text" class="form-control" [(ngModel)]="param.packageNo">
      </div>
      <div class="col-md-2">
        <span class="badge badge-warning">Packing Quantity</span>
        <input type="text" class="form-control" [(ngModel)]="param.packageQty">
      </div>
      <div class="row col pt-4">
        <div class="col-md-auto">
          <button class="btn btn-primary" (click)="search()">
            <i class="fa fa-search"></i>
            Search</button>
        </div>
        <div class="col-md-auto">
          <button class="btn button" class="btn btn-danger"  (click)="clear()">
            <i class="fa fa-refresh"></i>
            Clear
          </button>
        </div>
        <div class="col-md-auto">
          <button class="btn btn-success" (click)="add()">
            <i class="fa fa-plus"></i>
             Add</button>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead class="table-bordered">
      <tr>
        <th class="text-center" scope="col"></th>
        <th class="text-center" scope="col">Packing No.</th>
        <th class="text-center" scope="col">Packing Quantity</th>
      </tr>
    </thead>

    <tbody >
      <tr *ngFor="let data of MsPackage ">
          <td class="text-center">
            <button type="button" class="btn btn-primary btn-sm" >
              <i class="fa fa-edit fa-lg" (click)="edit(data)"></i></button>
          </td>
          <td class="text-center"> {{data.packageNo}}</td>
          <td class="text-center"> {{data.packageQty}}</td>
      </tr>
    </tbody>
  </table>
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.pageNumber"
        (pageChanged)="pageChanged($event)"  >
        <span class="cs-page ml-2"> Page -  {{pagination.pageNumber}} /
          {{pagination.totalPage}}</span>
   
  </pagination>
  
</div>
