<div class="card">
  <div class="card-header">
    <div class="row">
      <!-- Title -->
      <div class="col-md-10">
        <h5>{{'Roles.Menu_Child.BQRC.StandardPackingQuantitySetting' | translate}}</h5>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Packing No. -->
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.StandardPackingQuantitySetting.PackingNo' |
          translate}}</span>
        <input type="text" name="packageNo" class="form-control" [(ngModel)]="param.packageNo">
      </div>

      <!-- Packing Quantity -->
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.StandardPackingQuantitySetting.PackingQuantity' |
          translate}}</span>
        <input type="number" min="0" max="999999999" name="packageQty" class="form-control"
          [(ngModel)]="param.packageQty">
      </div>

      <div class="col pt-4">
        <!-- Button Search -->
        <button class="btn btn-primary" (click)="search()">
          <i class="{{iconButton.SEARCH}}"></i>
          {{ 'System.Action.Search' | translate}}</button>

        <!-- Button Clear -->
        <button class="btn button" class="btn btn-danger" (click)="clear()">
          <i class="{{iconButton.CLEAR}}"></i>
          {{ 'System.Action.Clear' | translate}}
        </button>

        <!-- Button Add New -->
        <button class="btn btn-success" (click)="add()">
          <i class="{{iconButton.ADD}}"></i>
          {{ 'System.Action.AddNew' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col"></th>
          <th class="text-center" scope="col">{{'Maintain.StandardPackingQuantitySetting.PackingNo' |
            translate}}</th>
          <th class="text-center" scope="col">{{'Maintain.StandardPackingQuantitySetting.PackingQuantity' |
            translate}}</th>
        </tr>
      </thead>
      <tbody *ngIf="msPackage.length == 0">
        <tr>
          <td colspan="100%">
            <alert class="text-center" type='danger'>
              <strong>{{'System.Message.Nodata' | translate}}</strong>
            </alert>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let mspackage of msPackage ">
          <td class="text-center">
            <button type="button" class="btn btn-primary btn-sm">
              <i class="{{iconButton.EDIT}}" (click)="edit(mspackage)"></i></button>
          </td>
          <td class="text-center"> {{mspackage.packageNo}}</td>
          <td class="text-center"> {{mspackage.packageQty}}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex" *ngIf="msPackage.length > 0">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.pageNumber"
        (pageChanged)="pageChanged($event)">
        <span class="cs-page ml-2"> Page - {{pagination.pageNumber}} /
          {{pagination.totalPage}}</span>

      </pagination>
    </div>
  </div>
</div>