<div class="card">
  <div class="card-header">
    <div class="row">
      <!-- Title -->
      <div class="col-md-10">
        <h5>{{'Roles.Menu_Child.BQRC.StandardPackingQuantitySetting' | translate}}</h5>
      </div>

      <!-- Button Back -->
      <div class="col-md-2">
        <button class="btn btn-primary float-right" (click)="back()">
          <i class="{{iconButton.BACK}}"></i> {{'System.Action.Back' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Packing No. -->
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.StandardPackingQuantitySetting.PackingNo' |
          translate}}</span>
        <input type="text" name="packageNo" class="form-control" [(ngModel)]="msPackage.packageNo">
      </div>

      <!-- Packing Quantity -->
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.StandardPackingQuantitySetting.PackingQuantity' |
          translate}}</span>
        <input type="number" min="0" max="999999999" name="packageQty" class="form-control"
          [(ngModel)]="msPackage.packageQty">
      </div>

      <!-- Button Add New-->
      <div class="col pt-4">
        <button class="btn btn-primary" (click)="add()"> {{'System.Action.AddNew' | translate}} </button>
      </div>
    </div>
  </div>
</div>