<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                <h4>1.3 Department Data Maintenance</h4>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" (click)="backlist()">
                    <i class="fa fa-arrow-left" ></i>
                    Back</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
              <span class="badge badge-warning">Shift</span>
              <input type="text" name="shift"  class="form-control" [(ngModel)]="param.parNo">
            </div>
            <div class="col-md-2">
              <span class="badge badge-warning">Shift Name</span>
              <input type="text" name="shift-name"  class="form-control" [(ngModel)]="param.parName">
            </div>
            <div class="col pt-4">
              <button class="btn btn-primary" (click)="save()" > Save </button>
            </div>
            
          </div>

    </div>
</div>
