<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h5>{{'Roles.Menu_Child.BQRC.WarehouseBasicDataMaintenance' | translate}}</h5>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="badge badge-warning">{{'Maintain.WarehouseBasicDataMaintenance.KodeOfWarehouse' | translate}}</span>
          <input type="text" name="shift"  class="form-control" [(ngModel)]="param.StoreH">
        </div>
        <div class="col-md-3">
          <span class="badge badge-warning">{{'Maintain.WarehouseBasicDataMaintenance.NameOfWarehouse' | translate}}</span>
          <input type="text" name="shift-name"  class="form-control" [(ngModel)]="param.LocationName">
        </div>
        <div class="col-md-6 wrapperButton">
          <button type="button" class="btn btn-primary mr-2" (click)="search()">
            <i class="fa fa-search"></i>
            {{ 'System.Action.Search' | translate}}</button>
          <button class="btn btn-danger mr-2" (click)="clear()" type="button">
            <i class="fa fa-ban"></i>
            {{ 'System.Action.Clear' | translate}}
          </button>
          <button type="button" class="btn btn-success" (click)="add()">
            <i class="fa fa-plus"></i>
            {{ 'System.Action.AddNew' | translate}}</button>
        </div>
        
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center" scope="col">{{'Maintain.WarehouseBasicDataMaintenance.KodeOfWarehouse' | translate}}</th>
            <th class="text-center" scope="col">{{'Maintain.WarehouseBasicDataMaintenance.NameOfWarehouse' | translate}}</th>
            <th class="text-center" scope="col"></th>
          </tr>
        </thead>
    
        <tbody >
          <tr *ngFor="let mslocation of data ">
              <td class="text-center"> {{mslocation.storeH}}</td>
              <td class="text-center"> {{mslocation.locationName}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-primary btn-sm" >
                  <i class="fa fa-edit fa-lg" (click)="edit(mslocation)"></i></button>
              </td>
          </tr>
          
    
    
        </tbody>
      </table>
      <div class="d-flex" *ngIf="data.length > 0">
        <pagination [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize" [maxSize]="5"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
          [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
        </pagination>
        <span class="cs-page ml-2">
          Page - {{pagination.pageNumber}} / {{pagination.totalPage}}
        </span>
      </div>
    </div>
    
  </div>
  