<!-- Modal -->
<div class="modal-content ">
  <!-- Header -->
  <div class="modal-header bg-primary">
    <h5 class="modal-title" id="modal-basic-title">
      Change Password
    </h5>
    <button type="button" class="btn-close close pull-right" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <!-- Body -->
  <div class="modal-body ">
    <form #form="ngForm" autocomplete="off">
      <div class="row g-3 align-items-center mb-2">
        <div class="col-md-5">
          <label class="col-form-label">
            <strong>Account </strong>
          </label>
        </div>
        <div class="col-md-7">
          <input type="text" class="form-control" [(ngModel)]="user.account" id="account"
            name="account" placeholder=" " readonly>
        </div>
      </div>
      <div class="row g-3 align-items-center mb-2">
        <div class="col-md-5">
          <label class="col-form-label">
            <strong>
               User Name
            </strong>
          </label>
        </div>
        <div class="col-md-7">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="user.name" id="name" name="name" placeholder=" " >
          </div>
        </div>
      </div>
      <div class="row g-3 align-items-center mb-2">
        <div class="col-md-5">
          <label class="col-form-label">
            <strong>
              Email
            </strong>
          </label>
        </div>
        <div class="col-md-7">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="user.email" id="email" name="email" placeholder=" " >
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-danger text-white" (click)="cancel()"><i class="{{iconButton.CLOSE}}"></i>
      Cancel
    </button>
    <button type="submit" class="btn btn-success" (click)="updateUser()" ><i
        class="{{iconButton.SAVE}}"></i>
      Save</button>
  </div>
</div>
