<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h5>1.4 Standard Packing Quantity</h5>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" (click)="backlist()"> 
            <i class="fa fa-arrow-left"></i> Back</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span class="badge badge-warning">PackageNo</span>
          <input type="text" maxlength="4"  class="form-control" [(ngModel)]="paramAdd.packageNo">
        </div>
        <div class="col-md-2">
          <span class="badge badge-warning">PackageQty</span>
          <input type="number"  class="form-control" [(ngModel)]="paramAdd.packageQty">
        </div>
        <div class="col pt-4">
          <button class="btn btn-primary" (click)="save()" > Save </button>
    
          <!-- <button class="btn btn-primary" > Save & Next </button> -->
        </div>
        
      </div>
    </div>
    </div>