<div class="card">
  <div class="card-header">
    <h5>1.1 Shift Data Maintenance</h5>
  </div>
  <div class="card-body">
      <div class="card">
        <form class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Shift</label>
            <input class="form-control" name="shift" [(ngModel)]="param.shift">
          </div>
          <div class="col-md-6">
            <label class="form-label">Shift Name</label>
            <input class="form-control " name="shiftName" [(ngModel)]="param.shiftName">
          </div>
        </form>
        <div class="button">
          <div class="d-md-flex justify-content-md-end">
            <!-- khi click vào button thì sinh ra sự kiện search -->
            <button class="btn btn-primary me-md-2" type="button" (click)="search()"><i class="fa fa-search"></i> Search</button>
            <button class="btn btn-danger" type="button" (click)="clear()"><i class="fa fa-eraser"></i> Clear</button>
            <button class="btn btn-success" type="button" (click)="addNew()"><i class="fa fa-plus"></i> Add New</button>
          </div>
        </div>
      </div>
      <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th scope="col">Stt</th>
            <th scope="col">Manuf</th>
            <th scope="col">Shift</th>
            <th scope="col">Name Of Shift</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Đổ data ra table -->
          <tr *ngFor="let item of data; let i =index">
            <td>{{i+1}}</td>
            <td>{{item.manuf}}</td>
            <td>{{item.shift}}</td>
            <td>{{item.shiftName}}</td>
            <!-- Sử dụng các hàm update và xóa -->
            <td><button type="button" class="btn btn-primary" (click)="update(item)"><i class="fa fa-edit"></i></button></td>
            <td><button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize" previousText="&lsaquo;" (pageChanged)="pageChanged($event)" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="5">
    </pagination>
  </div>
</div>
