<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <h5>{{'Maintain.StandardPackingQuantitySetting.Title' | translate }}</h5>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <span class="badge badge-warning">{{'Maintain.StandardPackingQuantitySetting.PackingNo' | translate }}</span>
        <input type="text" name="packageNo" [(ngModel)]="params.packageNo" class="form-control">
      </div>
      <div class="col-md-4">
        <span class="badge badge-warning">{{'Maintain.StandardPackingQuantitySetting.PackingQuantity' | translate }} </span>
        <input type="text" name="packageQty" [(ngModel)]="params.packageQty" class="form-control">
      </div>
      <div class="row mt-3">
      <div class="col md-2">
        <button class=" btn btn-primary " (click)="search()"><i class="{{iconButton.SEARCH}}"></i> {{'System.Action.Search' | translate }} </button>
      </div>
      <div class="col md-2">
        <button class=" btn btn-success" (click)="add()"><i class="{{iconButton.ADD}}"></i> {{'System.Action.AddNew' | translate }}  </button>
      </div>
      <div class="col md-2">
        <button class=" btn btn-danger" (click)="clear()"><i class="{{iconButton.DELETE}}"></i> {{'System.Action.Clear' | translate }} </button>
      </div>
    </div>
    </div>
<div class="card">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"  class="text-center">{{'Maintain.StandardPackingQuantitySetting.PackingNo' | translate }}</th>
        <th scope="col" class="text-center">{{'Maintain.StandardPackingQuantitySetting.PackingQuantity' | translate }} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <th scope="row" class="text-center"> <button class=" btn btn-primary" (click)="edit(item)"><i class="{{iconButton.EDIT}}"></i> </button></th>
        <td class="text-center">{{item.packageNo}}</td>
        <td  class="text-center">{{item.packageQty}}</td>

      </tr>
    </tbody>
  </table>
</div>

</div>

  <div class="d-flex" *ngIf="data.length > 0">
    <pagination [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize" [maxSize]="5"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
      [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
    </pagination>
    <span class="cs-page ml-2">
      Page - {{pagination.pageNumber}} / {{pagination.totalPage}}
    </span>
  </div>
</div>

