<div class="card">
  <div class="card-header">
    <div class="row ">
      <div class="col-md-10">
        <h5>{{'Maintain.AuthorizationSetting.Title' | translate }} </h5>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 ">
        <span class="badge badge-warning">{{'Maintain.AuthorizationSetting.Account' | translate }}</span>
        <input type="text" name="account" [(ngModel)]="params.account" class="form-control">
      </div>
      <div class="col-md-4">
        <span class="badge badge-warning">{{'Maintain.AuthorizationSetting.UserName' | translate }} </span>
        <input type="text" name="name" [(ngModel)]="params.name" class="form-control">
      </div>
      <div class="row mt-3  ">
      <div class="col md-4">
        <button class=" btn btn-primary " (click)="search()"><i class="{{iconButton.SEARCH}}"></i> {{'System.Action.Search' | translate }} </button>
      </div>
      <div class="col md-4">
        <button class=" btn btn-success" (click)="add()"><i class="{{iconButton.ADD}}"></i> {{'System.Action.AddNew' | translate }} </button>
      </div>
      <div class="col md-4">
        <button class=" btn btn-danger" (click)="clear()"><i class="{{iconButton.DELETE}}"></i> {{'System.Action.Clear' | translate }} </button>
      </div>
    </div>
    </div>
  </div>


  <div class="card">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="text-center"> {{'Maintain.AuthorizationSetting.Account' | translate }}</th>
          <th scope="col" class="text-center">{{'Maintain.AuthorizationSetting.UserName' | translate }} </th>
          <th scope="col" class="text-center">{{'Maintain.AuthorizationSetting.Password' | translate }} </th>
          <th scope="col" class="text-center">{{'Maintain.AuthorizationSetting.Email' | translate }} </th>
          <th scope="col" class="text-center">{{'Maintain.AuthorizationSetting.Active' | translate }} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <th scope="row" class="text-center">
            <button class=" btn btn-primary ml-2 mb-2" (click)="edit(item)"><i class="{{iconButton.EDIT}}"></i> </button>
            <button class=" btn btn-warning ml-2 mb-2" (click)="openModal(item,template)"><i class="{{iconButton.AUTHOR}}"></i>
            </button>
          </th>
          <td class="text-center">{{item.account}}</td>
          <td class="text-center">{{item.name}}</td>
          <td class="text-center">{{item.password}}</td>
          <td class="text-center">{{item.email}}</td>
          <td class="text-center">{{item.is_active}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="d-flex" *ngIf="data.length > 0">
    <pagination [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize" [maxSize]="5"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
      [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
    </pagination>
    <span class="cs-page ml-2">
      Page - {{pagination.pageNumber}} / {{pagination.totalPage}}
    </span>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Maintain.AuthorizationSetting.Authorization' | translate }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6  ">
        <span class="badge badge-warning">{{'Maintain.AuthorizationSetting.Account' | translate }}</span>
        <input type="text" name="account" [(ngModel)]="userAuthorize.account" class="form-control" readonly>
      </div>
      <div class="col-md-6">
        <span class="badge badge-warning">{{'Maintain.AuthorizationSetting.UserName' | translate }} </span>
        <input type="text" name="name" [(ngModel)]="userAuthorize.name" class="form-control" readonly>
      </div>

      <div class="row">
        <div class="col-12 pl-5" *ngFor="let roles of userRole.listRoles; let i = index">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" [id]="roles.role_name" [name]="roles.role_name"
              [(ngModel)]="roles.isCheck">
            <label class="custom-control-label" [for]="roles.role_name">{{roles.role_name}}</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br /><br /><br />
    <button type="button" class="btn btn-danger ml-2 mb-2" (click)="closeModal()"><i class="{{iconButton.CLOSE}}"></i> Cancel</button>
    <button type="button" class="btn btn-primary ml-2 mb-2" (click)="save()"><i class="{{iconButton.SAVE}}"></i> Save</button>
  </div>
</ng-template>
