<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h5>1.2 Warehouse Basic Data Maintenance</h5>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="badge badge-warning">StoreH</span>
          <input type="text" name="shift"  class="form-control" [(ngModel)]="param.StoreH">
        </div>
        <div class="col-md-3">
          <span class="badge badge-warning">LocationName</span>
          <input type="text" name="shift-name"  class="form-control" [(ngModel)]="param.LocationName">
        </div>
        <div class="col-md-6 wrapperButton">
          <button type="button" class="btn btn-primary mr-2" (click)="search()">
            <i class="fa fa-search"></i>
            Search</button>
          <button class="btn btn-danger mr-2" (click)="clear()" type="button">
            <i class="fa fa-ban"></i>
            Clear
          </button>
          <button type="button" class="btn btn-success" (click)="add()">
            <i class="fa fa-plus"></i>
            Add</button>
        </div>
        
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center" scope="col">Shift</th>
            <th class="text-center" scope="col">Name of Shift</th>
            <th class="text-center" scope="col"></th>
          </tr>
        </thead>
    
        <tbody >
          <tr *ngFor="let mslocation of data ">
              <td class="text-center"> {{mslocation.storeH}}</td>
              <td class="text-center"> {{mslocation.locationName}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-primary btn-sm" >
                  <i class="fa fa-edit fa-lg" (click)="edit(mslocation)"></i></button>
              </td>
          </tr>
          
    
    
        </tbody>
      </table>
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.pageNumber"
          (pageChanged)="pageChanged($event)"  >
          <span class="cs-page ml-2"> Page - {{pagination.pageNumber}} /
            {{pagination.totalPage}}</span>
     
    </pagination>
    </div>
    
  </div>
  