<div class="card">
  <div class="card-header">
    <h5>1.1 Shift Data Maintenance - Update</h5>
    <div class="back-button">
      <button class="btn btn-primary" (click)="back()"><i class="fa fa-chevron-left"></i> Back</button>
    </div>
  </div>
  <div class="card-body">
    <form class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Shift</label>
            <input  [(ngModel)]="model.shift"
                    type="text"
                    id="shift"
                    name="shift"
                    class="form__input form-control"
                    autocomplete="off"
                    placeholder=" " disabled="true">
          </div>
          <div class="col-md-6">
            <label class="form-label">Shift Name</label>
            <input  [(ngModel)]="model.shiftName"
                    type="text"
                    id="shiftName"
                    name="shiftName"
                    class=" form-control"
                    autocomplete="off"
                    placeholder=" ">
          </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-success me-md-2" type="button" (click)="saveChange()"><i class="fa fa-check"></i> Save</button>
  </div>
</div>

