<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <h5>1.5 Authorization Setting</h5>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <span class="badge badge-warning">User Account</span>
        <input type="text" name="account" class="form-control" [(ngModel)]="params.account">
      </div>
      <div class="col-md-2">
        <span class="badge badge-warning">User Name</span>
        <input type="text" name="name" class="form-control" [(ngModel)]="params.name">
      </div>
      <div class="col pt-4" style="padding-left: 45%;">
        <button class="btn btn-primary" (click)="search()"><i class="{{iconButton.SEARCH}}"></i> Search</button>
        &nbsp; &nbsp; &nbsp;
        <button class="btn btn-danger" (click)="clear()"><i class="{{iconButton.CLEAR}}"></i> Clear</button>
        &nbsp; &nbsp; &nbsp;
        <button class="btn btn-success" (click)="addNew()"><i class="{{iconButton.ADD}}"></i> Add</button>
      </div>
    </div>
  </div>
  <div class="card">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center">User Account</th>
          <th scope="col" class="text-center">User Name</th>
          <th scope="col" class="text-center">E-mail Address</th>
          <th scope="col" class="text-center">Authorize</th>
          <th scope="col" class="text-center">Modify</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td class="text-center">{{item.account}}</td>
          <td class="text-center">{{item.name}}</td>
          <td class="text-center">{{item.email}}</td>
          <th scope="row" class="text-center"> <button class="btn btn-warning"
              (click)="openModal(template, item.account, item.name)"><i class="{{iconButton.AUTHOR}}"></i></button></th>
          <th scope="row" class="text-center"> <button class="btn btn-primary" (click)="update(item)"><i
                class="{{iconButton.EDIT}}"></i></button></th>
        </tr>
      </tbody>
    </table>
    <div class="d-flex">
      &nbsp;&nbsp;
      <pagination [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize" [maxSize]="5"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
        [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
      </pagination>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left" id="my-modal-title">Authorization</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
          <label class="badge badge-warning">User Account</label>
          <input type="text" disabled [(ngModel)]="userRole.account" name="account" class="form-control">
        </div>
        <div class="col-xxl-5 col-xl-7 col-lg-7 col-md-7">
          <label class="badge badge-warning">User name</label>
          <input type="text" disabled [(ngModel)]="params.name" class="form-control" name="name">
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="row">
        <div class="col-12 pl-15" *ngFor="let roles of userRole.listRoles; let i = index">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" [id]="roles.role_name" [name]="roles.role_name"
              [(ngModel)]="roles.isCheck">
            <label class="custom-control-label" [for]="roles.role_name">{{roles.role_name}}</label>
          </div>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div>
        <div>
          <button type="button" class="btn btn-danger" (click)="modalRef?.hide()"><i class="{{iconButton.CLOSE}}">
            </i> Cancel</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="save()"><i class="{{iconButton.SAVE}}">
            </i> Save</button>
        </div>
      </div>
    </div>
  </ng-template>