<!-- Modal -->
<div class="modal-content ">
  <!-- Header -->
  <div class="modal-header bg-primary">
    <h5 class="modal-title" id="modal-basic-title">
      Change Password
    </h5>
    <button type="button" class="btn-close close pull-right" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <!-- Body -->
  <div class="modal-body ">
    <form #form="ngForm" autocomplete="off">
      <div class="row g-3 align-items-center mb-2">
        <div class="col-md-5">
          <label class="col-form-label">
            <strong>Current Password <span class="text-danger"> *</span></strong>
          </label>
        </div>
        <div class="col-md-7">
          <input type="password" class="form-control" [(ngModel)]="param.old_password" id="currentPassword"
            name="currentPassword" placeholder=" " required>
        </div>
      </div>
      <div class="row g-3 align-items-center mb-2">
        <div class="col-md-5">
          <label class="col-form-label">
            <strong>
              New Password <span class="text-danger"> *</span>
            </strong>
          </label>
        </div>
        <div class="col-md-7">
          <div class="input-group">
            <input type="password" class="form-control" [(ngModel)]="param.new_password" id="new_password"
              name="new_password" placeholder=" " required>
          </div>
        </div>
      </div>
      <div class="row g-3 align-items-center mb-2">
        <div class="col-md-5">
          <label class="col-form-label">
            <strong>
              Confirm Password <span class="text-danger"> *</span>
            </strong>
          </label>
        </div>
        <div class="col-md-7">
          <div class="input-group">
            <input type="password" class="form-control" [(ngModel)]="confirmPassword" id="confirmPassword"
              name="confirmPassword" placeholder=" " required>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-danger text-white" (click)="cancel()"><i class="{{iconButton.CLOSE}}"></i>
      Cancel
    </button>
    <button type="submit" class="btn btn-success" (click)="changePassword()" [disabled]="!form.valid || confirmPassword != param.new_password"><i
        class="{{iconButton.SAVE}}"></i>
      Save</button>
  </div>
</div>
