<div class="card">
  <div class="card-header">
    <div class="row">
      <!-- Title -->
      <div class="col-md-10">
        <h5>{{'Roles.Menu_Child.BQRC.ShiftDataMaintenance' | translate}}</h5>
      </div>

      <!-- Button Back -->
      <div class="col-md-2">
        <button class="btn btn-primary float-right" (click)="back()">
          <i class="{{iconButton.BACK}}"></i> {{'System.Action.Back' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Shift -->
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.ShiftDataMaintenance.Shift' | translate}}</span>
        <input type="text" disabled="disabled" name="shift" [(ngModel)]="msShift.shift" class="form-control">
      </div>

      <!-- Shift Name -->
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.ShiftDataMaintenance.ShiftName' | translate}}</span>
        <input type="text" name="shift-name" [(ngModel)]="msShift.shiftName" class="form-control">
      </div>

      <!-- Button Update-->
      <div class="col pt-4">
        <button class="btn btn-primary" (click)="update()"> {{'System.Action.Save' | translate}} </button>
      </div>
    </div>
  </div>
</div>