<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <h5>{{'Roles.Menu_Child.BQRC.WarehouseBasicDataMaintenance' | translate}} -  {{'System.Action.Edit' | translate}}</h5>

      </div>
      <div class="col-md-2">
        <button class="btn btn-primary float-right" (click)="backlist()">
          <i class="fa fa-arrow-left"></i> {{'System.Action.Back' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-4">
        <div class="row align-items-center">
          <div class="col-md-auto">
            <span style="font-size: 20px;">{{'Maintain.WarehouseBasicDataMaintenance.KodeOfWarehouse' |
              translate}} </span>
          </div>
          <div class="col">
            <input type="text" disabled="disabled" [(ngModel)]="param.packageNo" class="form-control">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row align-items-center">
          <div class="col-md-auto">
            <span style="font-size: 20px;">{{'Maintain.WarehouseBasicDataMaintenance.NameOfWarehouse' |
              translate}} <span style="color: red;" class="i_required">*</span></span>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="param.packageQty" class="form-control">
          </div>
        </div>
      </div>
      
      <div class="col-md-1"></div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary mr-2 " (click)="saveUpdate()">  {{'System.Action.Save' | translate}} </button>
  </div>

</div>