<div class="card ">
  <div class="card-header">

    <h5>{{'Maintain.StandardPackingQuantitySetting.TitleEdit' | translate }}</h5>
    <div class="col md-4 text-right">
      <button class="btn btn-primary" (click)="back()">{{'System.Action.Back' | translate }} </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.StandardPackingQuantitySetting.PackingNo' | translate }} </span>
        <input type="text" name="packageNo" [(ngModel)]="params.packageNo" class="form-control" readonly >
      </div>
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.StandardPackingQuantitySetting.PackingQuantity' | translate }} </span>
        <input type="text" name="packageQty" [(ngModel)]="params.packageQty" class="form-control">
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="col md-4">
      <button class="btn btn-success" (click)="save()"><i class="{{iconButton.SAVE}}"> {{'System.Action.Save' | translate }}</i> </button>
    </div>
  </div>
</div>
