<div class="card">
  <div class="card-header">
    <h5>1.3 Department Data Maintenance</h5>
  </div>
  <div class="card-body">
    <div class="card">
      <form class="row g-3">
        <div class="col-md-6">
          <label class="badge badge-warning">Department</label>
          <input class="form-control" name="parNo" [(ngModel)]="param.parNo">
        </div>
        <div class="col-md-6">
          <label class="badge badge-warning">Name Of Department</label>
          <input class="form-control " name="parName" [(ngModel)]="param.parName">
        </div>
      </form>
      <div class="button">
        <div class="d-md-flex justify-content-md-end">
          <!-- khi click vào button thì sinh ra sự kiện search -->
          <button class="btn btn-primary me-md-2" type="button" (click)="search()"><i class="{{iconButton.SEARCH}}"></i>
            Search</button>
          <button class="btn btn-danger" type="button" (click)="clear()"><i class={{iconButton.CLEAR}}></i>
            Clear</button>
          <button class="btn btn-success" type="button" (click)="addNew()"><i class={{iconButton.ADD}}></i> Add
            New</button>
        </div>
      </div>
    </div>
    <table class="table table-bordered border-primary">
      <thead>
        <tr>
          <!-- <th scope="col">Stt</th> -->
          <th scope="col"></th>
          <th scope="col">Department</th>
          <th scope="col">Name Of Department</th>
        </tr>
      </thead>
      <tbody>
        <!-- Đổ data ra table -->
        <tr *ngFor="let item of data">
          <!-- <td>{{i+1}}</td> -->
          <td>
            <button type="button" class="btn btn-primary" (click)="update(item)"><i
                class='{{iconButton.EDIT}}'></i></button>
            <!-- {{item.manuf}} -->
          </td>
          <td>{{item.parNo}}</td>
          <td>{{item.parName}}</td>
          <!-- Sử dụng các hàm update và xóa -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize"
      previousText="&lsaquo;" (pageChanged)="pageChanged($event)" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;" [maxSize]="5">
    </pagination>
  </div>
</div>