<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <h5>1.2 Warehouse Basic Data Maintenance</h5>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="back()">
          <i class="fa fa-arrow-left"></i> Back </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <span class="badge badge-warning">Kode Of Warehouse</span>
        <input type="text" disabled="disabled" name="storeH" [(ngModel)]="msLocation.storeH" class="form-control">
      </div>
      <div class="col-md-2">
        <span class="badge badge-warning">Name Of Warehouse</span>
        <input type="text" name="locationName" [(ngModel)]="msLocation.locationName" class="form-control">
      </div>
      <div class="col pt-4">
        <button class="btn btn-primary" (click)="update()"> Save </button>
      </div>
    </div>
  </div>
</div>
