*:hover,
*:focus,
*:active {
  outline: none;
  box-shadow: none !important;
 // -webkit-appearance: none;
}

:host ::ng-deep {
  app-header {
    background-color: #364150;
    color: #fff;

    .app-title {
      font-weight: unset;
      margin-bottom: unset;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .navbar-nav .nav-link {
      color: #fff;
    }
  }

  app-sidebar-nav {
    app-sidebar-nav-items {
      background-color: #364150 !important;
    }
  }

  .sidebar .nav-link:hover {
    background: #000;
  }

  .pt-30 {
    padding-top: 30px !important;
  }

  h6.username {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
  }
}
