.form-group label,
table thead tr th {
    white-space: nowrap;
}

.table-responsive {
    max-height: 415px;
}

table thead tr th {
    background-color: #20a8d8;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

table .table-disabled {
    background-color: rgba(0, 0, 0, 0.075);
}