<div class="card">
    <div class="card-header">
        <h4>2.1. Search For Order Data</h4>
    </div>
    <div class="card-body">
        <div class="border-shadow">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Brand</span>

                    <div class="form-group">
                        <ng-select name="brandname" [(ngModel)]="param.brandname" (clear)="param.brandname = 'All'"
                            [clearable]="param.brandname != 'All'">
                            <ng-option *ngFor="let item of listBrandName" [value]="item.key">{{item.value}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Mold Number</span>
                    <input placeholder="Enter Mold Number..." type="text" name="rmodel" class="form-control"
                        [(ngModel)]="param.rmodel">
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Material Code</span>
                    <input placeholder="Enter Material Code..." type="text" name="bitnbr" class="form-control"
                        [(ngModel)]="param.bitnbr">
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Size</span>
                    <input placeholder="Enter Size..." type="text" name="size" class="form-control"
                        [(ngModel)]="param.size">
                </div>
                <!--  dòng 2 -->
                <div class="pb-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Code Of Customer</span>
                    <input placeholder="Enter Code Of Customer..." type="text" name="cusid" class="form-control"
                        [(ngModel)]="param.cusid">
                </div>
                <div class="pb-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Planning No</span>
                    <input placeholder="Enter Planning No..." type="text" name="manno" class="form-control"
                        [(ngModel)]="param.manno">
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Status</span>

                    <div class="form-group">
                        <ng-select name="endcod" [(ngModel)]="param.endcod" (clear)="param.endcod = 'N'"
                            [clearable]="param.endcod != 'N'">
                            <ng-option *ngFor="let item of listStatus" [value]="item.key">{{item.value}}</ng-option>
                        </ng-select>
                    </div>

                </div>
                <div class="pb-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Name Of Customer</span>
                    <input placeholder="Enter Name Of Customer..." type="text" name="cusna" class="form-control"
                        [(ngModel)]="param.cusna">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Prtno</span>
                    <input placeholder="Enter Prtno..." type="text" name="prtno" class="form-control"
                        [(ngModel)]="param.prtno">
                </div>

                <div class="pt-4 col-xl-3 col-lg-3 col-md-6 col-sm-12 d-flex">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="remark" name="remark"
                            [(ngModel)]="dataPrint.remark">
                        <label class="custom-control-label font-weight-bold" for="remark">Remark LR</label>
                    </div>
                </div>

                <div class="pt-4 col-md-6">
                    <button class="btn btn-success mr-2 " (click)="search()">
                        <i class="{{iconButton.SEARCH}}"></i> Search </button>
                    <button class="btn btn-danger mr-2 " (click)="clear()">
                        <i class="{{iconButton.CLEAR}}"></i> Clear </button>
                    <button class="btn btn-primary mr-2 " (click)="print()">
                        <i class="{{iconButton.PRINT}}"></i> Print </button>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="card-body">
            <!--  -->
            <div style="overflow-x: auto">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">
                                    <div class="custom-control custom-checkbox checkAll">
                                        <input type="checkbox" class="custom-control-input" id="checkAll"
                                            [(ngModel)]="checkAll" (change)="changCheckAll()" [disabled]="!isCheckAll">
                                        <label class="custom-control-label" for="checkAll"></label>
                                    </div>
                                </th>
                                <th class="text-center" scope="col">Brand</th>
                                <th class="text-center" scope="col">Mold Number</th>
                                <th class="text-center" scope="col">Material Code Bottom</th>
                                <th class="text-center" scope="col">Size</th>
                                <th class="text-center" scope="col">Code of Customer</th>
                                <th class="text-center" scope="col">Planning No.</th>
                                <th class="text-center" scope="col">Purchase No.</th>
                                <th class="text-center" scope="col">Status</th>
                                <th class="text-center" scope="col">wkshno</th>
                                <th class="text-center" scope="col">Name of Customer</th>
                                <th class="text-center" scope="col">Type of Order</th>
                                <th class="text-center" scope="col">Confirmed Delivery Date</th>
                                <th class="text-center" scope="col">Article</th>
                                <th class="text-center" scope="col">Order Quantity</th>
                                <th class="text-center" scope="col">wkshqty</th>
                                <th class="text-center" scope="col">Increase Order Quantity</th>
                                <th class="text-center" scope="col">Reduce Order Quantity</th>
                                <th class="text-center" scope="col">Available quantity for Print</th>
                                <th class="text-center" scope="col">Printed Quantity</th>
                                <th class="text-center" scope="col">Cancel priting quantity</th>
                                <th class="text-center" scope="col">Material Code Shoes</th>
                                <th class="text-center" scope="col">Model Name</th>
                                <th class="text-center" scope="col">Tooling Size</th>
                                <th class="text-center" scope="col">Remark</th>
                                <th class="text-center" scope="col">Time of updating</th>
                                <th class="text-center" scope="col">Updated by</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="data.length == 0">
                            <tr>
                                <th colspan="100%" class="table-warning text-center">
                                    No Data!!!</th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr *ngFor="let items of data; let i= index" (click)="changeChecked(items)"
                                [ngClass]="{'table-warning': items.checked , 'table-disabled': items.isDisabled} ">
                                <td class="text-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" [id]="'checked_'+i"
                                            [name]="'checked_'+i" [disabled]="items.isDisabled"
                                            (click)="changeChecked(items)" [(ngModel)]="items.isChecked">
                                        <label class="custom-control-label" [for]="'checked_'+i"></label>
                                    </div>
                                </td>
    
                                <td class="text-center" scope="col">{{items.brandname}}</td>
                                <td class="text-center" scope="col">{{items.rmodel}}</td>
                                <td class="text-center" scope="col">{{items.bitnbr}}</td>
                                <td class="text-center" scope="col">{{items.size}}</td>
                                <td class="text-center" scope="col">{{items.cusid}}</td>
                                <td class="text-center" scope="col">{{items.manno}}</td>
                                <td class="text-center" scope="col">{{items.purno}}</td>
                                <td class="text-center" scope="col">{{items.endcod}}</td>
                                <td class="text-center" scope="col">{{items.wkshno}}</td>
                                <td class="text-center" scope="col">{{items.cusna}}</td>
                                <td class="text-center" scope="col">{{items.kind}}</td>
                                <td class="text-center" scope="col">{{items.eta | date: "yyyy-MM-dd"}}</td>
                                <td class="text-center" scope="col">{{items.article}}</td>
                                <td class="text-center" scope="col">{{items.qty}}</td>
                                <td class="text-center" scope="col">{{items.wkshqty}}</td>
                                <td class="text-center" scope="col">{{items.addqty}}</td>
                                <td class="text-center" scope="col">{{items.lessqty}}</td>
                                <td class="text-center" scope="col">{{items.apqty}}</td>
                                <td class="text-center" scope="col">{{items.pqty}}</td>
                                <td class="text-center" scope="col">{{items.cqty}}</td>
                                <td class="text-center" scope="col">{{items.ritnbr}}</td>
                                <td class="text-center" scope="col">{{items.style}}</td>
                                <td class="text-center" scope="col">{{items.tsize}}</td>
                                <td class="text-center" scope="col">{{items.remark}}</td>
                                <td class="text-center" scope="col">{{items.update_time | date: "yyyy-MM-dd"}}</td>
                                <td class="text-center" scope="col">{{items.updated_by}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="d-flex" *ngIf="data.length > 0">
                <pagination [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize" [maxSize]="5"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                    [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
                </pagination>
                <span class="cs-page ml-2">
                    Page - {{pagination.pageNumber}} / {{pagination.totalPage}}
                </span>
            </div>
        </div>
        <div class="card-body">
            <div class=" row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Standard packing quantity</span>
    
                    <div class="form-group">
                        <ng-select name="packageQty" (clear)="dataPrint.packageQty = 5" [(ngModel)]="dataPrint.packageQty"
                            [clearable]="dataPrint.packageQty != 5">
                            <ng-option *ngFor="let item of listPackage" [value]="item.key">{{item.value}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Quantity of print</span>
                    <input type="number" class="form-control" min="1" name="printQty"
                        onkeypress="return /[0-9]/i.test(event.key)" onpaste="return false;"
                        [(ngModel)]="dataPrint.printQty" placeholder="Enter Quantity of print..."
                        (ngModelChange)="onCheckValuePrint($event)" [disabled]="!isQtyOfPrint">
                </div>

                <div class="pt-4 col-xl-1 col-lg-1 col-md-2 col-sm-12 d-flex">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="balance" name="balance"
                            [(ngModel)]="dataPrint.balance" [disabled]="!isBalance">
                        <label class="custom-control-label font-weight-bold" for="balance">Balance</label>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                    <span class="badge badge-warning">Empno</span>
                    <input placeholder="Enter Empno..." type="text" name="empno" class="form-control" autocomplete="off"
                        [(ngModel)]="dataPrint.empno">
                </div>

                <div class="pt-4 col-xl-1 col-lg-1 col-md-2 col-sm-12 d-flex">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="isB_grade" name="isB_grade"
                            [(ngModel)]="dataPrint.isB_grade">
                        <label class="custom-control-label font-weight-bold" for="isB_grade">isB_grade</label>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
