<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal" autocomplete="off">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs">2.4
                  {{'Transaction.WarehouseScan.WarehouseScan' | translate
                  }}</strong>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body">
          <div class="row border-shadow">
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
              <label
                class="badge badge-warning">{{'Transaction.WarehouseScan.ScanDate'
                | translate }}</label>
              <div class="input-group">
                <input type="text" placeholder="Select Date" autocomplete="off"
                  id="fromDate" class="form-control" bsDatepicker
                  [(ngModel)]="scanDate" name="scan_date"
                  [bsConfig]="bsConfig" />
                <div class="input-group-append">
                  <span class="input-group-text"><i
                      class="{{iconButton.CALENDAR}}"></i></span>
                </div>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
              <label
                class="badge badge-warning">{{'Transaction.WarehouseScan.Location'
                | translate }} <i class="i-required">*</i></label>
              <ng-select [(ngModel)]="location" name="sub_class_id"
                placeholder="{{'Transaction.WarehouseScan.PleaseChooseLocation' | translate }}...">
                <ng-option *ngFor="let item of locations"
                  [value]="item.key">{{item.value}}</ng-option>
              </ng-select>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
              <label
                class="badge badge-warning">{{'Transaction.WarehouseScan.Department'
                | translate }} <i class="i-required">*</i></label>
              <ng-select [(ngModel)]="department" name="sub_class_id"
                placeholder="{{'Transaction.WarehouseScan.PleaseChooseDepartment' | translate }}...">
                <ng-option *ngFor="let item of departments"
                  [value]="item.key">{{item.value}}</ng-option>
              </ng-select>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
              <label class="d-block">&nbsp;</label>
              <button type="submit" class="btn btn-success"
                [disabled]="location == null || department == null"
                (click)="scanCode(location, department)">
                <i class="{{iconButton.QRCODE}}"></i> {{'System.Action.Scan' |
                translate }}
              </button>
              <button type="button" class="btn btn-primary ml-2"
                [disabled]="dataStorage.length <=0" (click)="export()">
                <i class="{{iconButton.PRINT}}"></i> {{'System.Action.Export' |
                translate }}
              </button>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-12">
              <div class="table-responsive mb-3">
                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th>{{'Transaction.WarehouseScan.ReferenceNoOfUpdating' |
                        translate }}</th>
                      <th>{{'Transaction.WarehouseScan.PlanningNo' | translate
                        }}</th>
                      <th>{{'Transaction.WarehouseScan.PurchaseNo' | translate
                        }}</th>
                      <th>{{'Transaction.WarehouseScan.MaterialCodeBottom' |
                        translate }}</th>
                      <th>{{'Transaction.WarehouseScan.ModelName' | translate }}
                      </th>
                      <th>{{'Transaction.WarehouseScan.Article' | translate }}
                      </th>
                      <th>{{'Transaction.WarehouseScan.Batch' | translate }}
                      </th>
                      <th>{{'Transaction.WarehouseScan.Cycle' | translate }}
                      </th>
                      <th>{{'Transaction.WarehouseScan.SerialNumber' | translate
                        }}</th>
                      <th>{{'Transaction.WarehouseScan.Size' | translate }}</th>
                      <th>{{'Transaction.WarehouseScan.Quantity' | translate }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngIf="dataStorage?.length > 0; else templateNoData">
                      <tr *ngFor="let item of dataStorage">
                        <td class="text-left">{{item.trNo}}</td>
                        <td class="text-left">{{item.manNo}}</td>
                        <td class="text-left">{{item.purNo}}</td>
                        <td class="text-left">{{item.bitNbr}}</td>
                        <td class="text-left">{{item.style}}</td>
                        <td class="text-left">{{item.article}}</td>
                        <td class="text-left">{{item.seq}}</td>
                        <td class="text-left">{{item.cyNo}}</td>
                        <td class="text-left">{{item.serial}}</td>
                        <td class="text-left">{{item.size}}</td>
                        <td class="text-left">{{item.qty}}</td>
                      </tr>
                    </ng-container>
                    <ng-template #templateNoData>
                      <tr>
                        <td colspan="100%"
                          class="table-warning text-center font-weight-bold">
                          {{'System.Message.Nodata' | translate }}
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-start"
            *ngIf="dataStorage?.length > 0">
            <pagination [boundaryLinks]="true"
              [totalItems]="pagination.totalCount"
              [itemsPerPage]="pagination.pageSize" previousText="&lsaquo;"
              [(ngModel)]="pagination.pageNumber"
              (pageChanged)="pageChanged($event)" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;" [maxSize]="5">
            </pagination>
            <span class="cs-page ml-2"> Page - {{pagination.pageNumber}} /
              {{pagination.totalPage}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>