<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <h5>1.1 Shift Data Maintain</h5>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="back()">
          <i class="fa fa-arrow-left"></i> Back</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <span class="badge badge-warning">Shift</span>
        <input type="text" name="shift" class="form-control" [(ngModel)]="msShift.shift">
      </div>
      <div class="col-md-2">
        <span class="badge badge-warning">Shift Name</span>
        <input type="text" name="shift-name" class="form-control" [(ngModel)]="msShift.shiftName">
      </div>
      <div class="col pt-4">
        <button class="btn btn-primary" (click)="add()"> Add New </button>

      </div>

    </div>
  </div>
</div>