.card-header {
  position: relative;
}

.card-header h5 {
  position: absolute;
}

.card-header .back-button {
  float: right;
}

.card-body {
  margin-bottom: 30%;
}

label {
  font-weight: 600;
}

.btn {
  margin: 0 0.5rem;
}
