<div class="card">
  <div class="card-header">
    <h5>1.3 Department Data Maintenance - Add New</h5>
    <div class="back-button">
      <button class="btn btn-primary" (click)="back()"><i class='{{iconButton.BACK}}'></i> Back</button>
    </div>
  </div>
  <div class="card-body">
    <form class="row g-3" autocomplete="off">
      <div class="col-md-6">
        <label class="form-label">Department</label>
        <input [(ngModel)]="model.parNo" type="text" id="parNo" name="parNo" class="form__input form-control"
          placeholder=" " disabled="true">
      </div>
      <div class="col-md-6">
        <label class="form-label">Name Of Department</label>
        <input [(ngModel)]="model.parName" type="text" id="parName" name="parName" class=" form-control"
          placeholder=" ">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-success me-md-2" type="button" (click)="saveChanged()"><i class='{{iconButton.SAVE}}'></i>
      Save</button>
    <button class="btn btn-primary" type="button"><i class='{{iconButton.SAVE}}'></i> Save & Next</button>
  </div>
</div>