<div class="card">
  <div class="card-header">
    <div class="row">
      <!-- Title -->
      <div class="col-md-10">
        <h5>{{'Roles.Menu_Child.BQRC.DepartmentDataMaintenance' | translate}}</h5>
      </div>

      <!-- Button Back -->
      <div class="col-md-2">
        <button class="btn btn-primary float-right" (click)="back()">
          <i class="{{iconButton.BACK}}"></i> {{'System.Action.Back' | translate}} </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <!-- Department -->
        <span class="badge badge-warning">{{'Maintain.DepartmentDataMaintenance.Department' |
          translate}}</span>
        <input type="text" disabled="disabled" name="parNo" [(ngModel)]="msDepartment.parNo" class="form-control">
      </div>

      <!-- Name Of Department -->
      <div class="col-md-2">
        <span class="badge badge-warning">{{'Maintain.DepartmentDataMaintenance.NameOfDepartment' |
          translate}}</span>
        <input type="text" name="parName" [(ngModel)]="msDepartment.parName" class="form-control">
      </div>

      <!-- Button Save -->
      <div class="col pt-4">
        <button class="btn btn-primary" (click)="update()"> {{'System.Action.Save' | translate}} </button>
      </div>
    </div>
  </div>
</div>